@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ol, ul, li {
  list-style: none;
}
button {
  background: none;border: none;
  cursor: pointer;
}
img, video, iframe {
  display: block;
}
input, select, textarea {
  outline: none;border: none;
}
table {
  border-collapse: collapse;
}
.blind {
  position: absolute;
  left: -9999px;
  top: -9999px;
}